body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:227px;
  width:785px;
  height:318px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:389px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:392px;
  height:30px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:388px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:393px;
  height:30px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:389px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:30px;
  width:392px;
  height:30px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:388px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:393px;
  height:32px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:60px;
  width:392px;
  height:32px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:393px;
  height:32px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:92px;
  width:392px;
  height:32px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:393px;
  height:32px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:124px;
  width:392px;
  height:32px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:393px;
  height:32px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:156px;
  width:392px;
  height:32px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:393px;
  height:32px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:188px;
  width:392px;
  height:32px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:393px;
  height:32px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:220px;
  width:392px;
  height:32px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:393px;
  height:32px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:252px;
  width:392px;
  height:32px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:388px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:34px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:393px;
  height:34px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:389px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:34px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:284px;
  width:392px;
  height:34px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:627px;
  width:140px;
  height:40px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:627px;
  width:140px;
  height:40px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
